body {
    font-family: monospace;
    font-size: 13px;
}

select {
    cursor: pointer;
}


.container {
    padding: 20px 30px 0;
    display: flex;
}


.sidebar {
    flex-basis: 200px;
    min-width: 150px;
}


.logo {
    margin: 0 0 30px 0;

    &_text {
        font-family: Tahoma, Helvetica, sans-serif;
        font-size: 32px;
        margin: 0;
    }

    &_caption {
        margin: 0;
        font-size: 11px;
    }
}


.mainColumn {
    flex-grow: 1;
}

.examples {
    width: 110px;
}


.textarea {
    width: 100%;
    margin-bottom: 10px;

    &-inputData {
        height: 300px;
    }

    &-template {
        height: 100px;
    }

    &-outputData {
        height: 300px;
    }
}


.inputTextWrapper {
    display: block;
}


.inputText {
    &-delimiter {
        width: 50px;
    }
}


.inputGroup {
    margin-bottom: $sidebarBlockBottomMargin;

    &-examples {
        margin-top: calc($sidebarBlockBottomMargin * 2);
    }

    &_label {
        display: block;
    }
}


.availableVariables {
    height: 448px;

    &_list {
        @mixin reset_ul;
        margin-top: 5px;
    }

    &_listItem {
        @mixin reset_li;
        margin-bottom: 7px;
    }

    &_button {
        @mixin reset_button;
        position: relative;
        border: 1px solid #000;
        padding: 2px 8px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        outline: 0;

        &:focus,
        &:hover {
            background: rgb(220, 220, 220);
        }

        &:active {
            box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
            top: 1px;
            left: 1px;
        }
    }

    &_example {
        margin-left: 7px;
        font-style: italic;
    }
}
