body {
    font-family: monospace;
}

.container {
    padding: 20px 30px 0;
    display: flex;
}


.sidebar {
    flex-basis: 200px;
    min-width: 150px;
}


.logo {
    margin: 0 0 30px 0;

    &_text {
        font-family: Tahoma, Helvetica, sans-serif;
        margin: 0;
    }

    &_caption {
        margin: 0;
        font-size: 11px;
    }
}


.mainColumn {
    flex-grow: 1;
}

.examples {
    width: 110px;
}


.textarea {
    width: 100%;
    margin-bottom: 10px;

    &-inputData {
        height: 300px;
    }

    &-template {
        height: 100px;
    }

    &-outputData {
        height: 300px;
    }
}


.inputTextWrapper {
    display: block;
}


.inputText {
    &-delimiter {
        width: 50px;
    }
}


.inputGroup {
    margin-bottom: $sidebarBlockBottomMargin;

    &-examples {
        margin-top: calc($sidebarBlockBottomMargin * 2);
    }

    &_label {
        display: block;
    }
}


.availableVariables {
    height: 448px;

    &_list {
        @mixin reset_ul;
        margin-top: 5px;
    }

    &_listItem {
        @mixin reset_li;
        margin-bottom: 7px;
    }

    &_example {
        margin-left: 7px;
        font-style: italic;
    }
}
